* {
    margin: 0;
    padding: 0;
}

header {
    background-color:#35424a;
    border-bottom:  3px solid #8A3A5B;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 70px;
    color: white;
    padding-top: 35px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

span {
    color: #8A3A5B;
    font-weight: bold;
}

.right {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.link1 {
    color: #8A3A5B;
}

a:hover {
    color: gray;
}

.first-section {
    background-image: url(./img/showcase.jpg);
    background-repeat: no-repeat;
    min-height: 400px;
    text-align: center;
    /* background-position-x: -50px; */
}

.image-text {
    overflow: hidden;
}

#image-head {
    font-size: 55px;
    color:white;
    margin-top: 100px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

#first-p {
    color: white;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
}

.second-section {
    background-color:#35424a;
    display: flex;
    flex-wrap: wrap;
    color: white;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-wrap: wrap;
}

#mail {
    width: 250px;
    padding: 10px;
    border: none;
}

#submit {
    width: 100px;
    padding: 10px;
    text-align: center;
    background-color: #a9508b;
    color: white;
    border: none;
    margin-left: 4px;
}

.logo-img {
    width: 90px;
    /* border: 1px solid red; */
}


h4 {
    line-height: 5;
    font-size: 17px;
    /* border:  1px solid red; */
}

.logo-p {
    /* border: 1px solid blue; */
    display: flex;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.logo1, .logo2, .logo3 {
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 325px;
    flex-wrap: wrap;
    overflow: hidden;
}

.logolar {
    /* border: 3px solid black; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 290px;
}



footer {
    display: flex;
    flex-direction: column; 
    border-top:3px solid #8A3A5B;
    height: 150px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background-color: #fffaf0;
    font-family: Arial, Helvetica, sans-serif;
}

#clarusway {
    width: 200px;
}



